name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        description: Target release tag
  release:
    types: [created, published, released]

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      # Build
      - name: Build the file
        run: |
          cd /home/runner/work/ha-sankey-chart/ha-sankey-chart
          npm install
          npm run build

      # Upload build file to the releas as an asset.
      - name: Upload zip to release
        uses: svenstaro/upload-release-action@v1-release

        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: /home/runner/work/ha-sankey-chart/ha-sankey-chart/dist/ha-sankey-chart.js
          asset_name: ha-sankey-chart.js
          tag: ${{ github.event.inputs.tag || github.ref }}
          overwrite: true
  validate:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # - uses: "home-assistant/actions/hassfest@master"
      - name: HACS Validate
        uses: hacs/action@main
        with:
          category: plugin